<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>CTA Helper</title>	
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap-theme.min.css') }}">
	</head>
	<body>
	<div class="page-header">
		<h1>CTA Helper</h1>
	</div>
	<div id="page_body" class="container">
		<div class="row">
			{% block nav %}{% endblock %}
			{% block buses%}{% endblock %}
			{% block trains%}{% endblock %}
		</div>


	</div>
	<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
	</body>
</html>
