<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>CTA Helper</title>
		<link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.0/material.indigo-pink.min.css">
		<script src="https://storage.googleapis.com/code.getmdl.io/1.0.0/material.min.js"></script>
		<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
		<style>
			#time {
			position: absolute;
			right: 4em;
			top: 1em;
			}
		</style>
	</head>
	<body>
	<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
			{% block nav %}{% endblock %}
			{% block buses%}{% endblock %}
			{% block trains%}{% endblock %}
	</div>
	</body>
</html>
