{% extends "layout.html" %}

{% block nav %}
	{% include "nav.html" with context %}
{% endblock nav %}

{% block buses %}
	<div id="tabContents" class="tab-content">
		<div id="buses" class="tab-pane fade active in">
			{% for bus_stop in bus_results %}
			<table class="table">
				<thead>
					<tr>
						<th colspan=2>{{ bus_stop.bus }}- {{ bus_stop.name }}- {{ bus_stop.direction }}</th>
					</tr>
					<tr>
						<th>Minutes</th><th>Time</th>
					</tr>
				</thead>
				<tbody>
				{% for prdtm in bus_stop.prdtms %}		
					<tr>
						<td>{{ prdtm.minutes }}</td>
						<td>{{ prdtm.a_time }}</td>
					</tr>
				{% endfor %}
				</tbody>
			</table>
			{% endfor %}
		</div>
{% endblock buses %}

{% block trains %}
		<div id="trains" class="tab-pane fade in">
			{% for train_stop in train_results %}
			<table class="table">
				<thead>
					<tr>
						<th colspan=3>{{train_stop.line}}</th>
					</tr>
					<tr>
						<th>Minutes</th><th>Time</th><th>Destination</th>
					</tr>
				</thead>
				<tbody>
				{% for prdtm in train_stop.prdtms %}		
					<tr>
					{% if prdtm.is_delayed == '1' %}
						<td><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
							{{ prdtm.minutes }}
						</td>
					{% else %}
						<td>{{ prdtm.minutes }}</td>
					{% endif %}
						<td>{{ prdtm.a_time }}</td>
						<td>{{ prdtm.train_destination }} </td>
					</tr>
				{% endfor %}
				</tbody>
			</table>
			{% endfor %}
		</div>
	</div>
{% endblock trains %}
