{% extends "layout.html" %}

{% block nav %}
	{% include "nav.html" with context %}
{% endblock nav %}

{% block buses %}
	<div id="tabContents" class="tab-content">
		<div id="buses" class="tab-pane fade active in">
			{% for bus_stop in bus_results %}
			<table class="table">
				<thead>
					<tr>
						<th colspan=2>{{ bus_stop.bus }} {{ bus_stop.name }} {{ bus_stop.direction }}</th>
					</tr>
					<tr>
						<th>Minutes</th><th>Time</th>
					</tr>
				</thead>
				<tbody>
				{% for prdtm in bus_stop.prdtms %}		
					<tr>
						<td>{{ prdtm.minutes }}</td>
						<td>{{ prdtm.prdtm }}</td>
					</tr>
				{% endfor %}
				</tbody>
			</table>
			{% endfor %}
		</div>
{% endblock buses %}

{% block trains %}
		<div id="trains" class="tab-pane fade in">
			{% for bus_stop in bus_results %}
			<table class="table">
				<thead>
					<tr>
						<th colspan=2>TRAIN {{ bus_stop.bus }}</th>
					</tr>
					<tr>
						<th>Minutes</th><th>Time</th>
					</tr>
				</thead>
				<tbody>
				{% for prdtm in bus_stop.prdtms %}		
					<tr>
						<td>{{ prdtm.minutes }}</td>
						<td>{{ prdtm.prdtm }}</td>
					</tr>
				{% endfor %}
				</tbody>
			</table>
			{% endfor %}
		</div>
	</div>
{% endblock trains %}
